<div class="container">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient, prompt: "Select an Ingredient" %>
    <%= f.input :description %>
    <%= f.hidden_field :cocktail_id, value: @cocktail.id %>
    <%= f.submit "Add a New dose", class: "btn btn-primary" %>
  <% end %>
</div>
